  @import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    font-family: "Sen", sans-serif;
    text-decoration: none;
}
header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "overlap";
    position: -webkit-sticky;
    z-index: 200;
}
.logo-background {
    grid-area: overlap;
    align-self: center;
    justify-self: center;
    margin-top: -18px;
}
.logo {
    margin-top: -15px;
grid-area: overlap;
align-self: center;
justify-self: center;
}
#body-wrapper{
    max-width: 1100px;
    margin: -35px auto;
    z-index: 100;
}
.hero-photo {
    margin: auto;
    background-image: url(../project-2/media/hero-photo.jpg);
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    place-items: center;
    width: 1100px;
    height: 500px;
    position: relative;
    
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(9, 0, 2, 0.30);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
   color: white;
    width: 800px;
    text-align: center;
    height: auto;
    font-size: 80px;
    font-family: 'Sen', sans-serif;
}
.steps-text{
    display: block;
    margin: 15px 0px;
    font-size: 30px;
    font-weight: 800;
    line-height: 107.5%;
}
.main-text{
    display: block;
    margin: 30px 0px;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 131.5%;
}
ul {
    padding-left: 20px;
}
#instructions{
    width: 1100px;
    height: 210px;
    margin:  auto;
}

.button{
    background-color: #AFD9FF; 
    border-radius: 50px;
    align-items: center;
    margin: 10px auto;
    height: 55px;
    padding: 5px 40px;
    width: 220px;
    display: flex;
    justify-content:space-evenly;

}
.button-text{
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
}

footer img {
    width: 100%;
    margin: 0 auto;

} 
/* Buttons */

.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    height: 55px;
    padding-bottom: 35px;

}

.step {
    font-size: 25px;
    padding: 0;
    color: black;
    font-weight: 600;
    background-color: #AFD9FF;
    stroke-width: 3px;
    flex-shrink: 0;
    stroke: #D5F1E5;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    justify-self: center;
}

 .buttons ul{
    min-width: 40px;
    min-height: 40px;
    padding: 0;
    text-align: center;
    justify-items: center; }
/* Step Customizable*/
.photo {
    margin: auto;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    place-items: center;
    width: 1100px;
    height: 500px;
    position: relative;

}
.step1{
    background-image: url(../project-2/media/hero-photo.jpg);
}