  @import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    font-family: "Sen", sans-serif;
    text-decoration: none;
  
}
html {
    height: 100%;
    cursor: url("../project-2/media/cursor-yellow.svg"), auto;
}
a{
    cursor: url("/project-2/media/cursor-button.svg"), pointer;
}
:root{
    --button-standart-color: #AFD9FF;
    --button-standart-border-color: #D5F1E5;
    --button-standart-border-width: 5px;
    --button-active-color: #F9D75F;
    --button-active-border-color: #C3325D;
    --text-color: #000;
}

header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "overlap";
    position: sticky;
    z-index: 200;
}
.logo-background {
    grid-area: overlap;
    align-self: center;
    justify-self: center;
    margin-top: -18px;
}
.logo {
    margin-top: -15px;
    grid-area: overlap;
    align-self: center;
    justify-self: center;
}
#body-wrapper{
    max-width: 1100px;
    margin: -35px auto;
    min-height: 800;
}
.hero-photo {
    margin: auto;
    background-image: url(../project-2/media/hero-photo.jpg);
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    place-items: center;
    width: 1100px;
    height: 500px;
    position: relative;
    
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(9, 0, 2, 0.30);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
   color: white;
    width: 800px;
    text-align: center;
    height: auto;
    font-size: 80px;
    font-family: 'Sen', sans-serif;
}
.steps-text{
    display: block;
    color: var(--button-active-border-color);
    margin: 15px 0px;
    font-size: 30px;
    font-weight: 800;
    line-height: 107.5%;
}
.main-text{
    display: block;
    margin: 30px 0px;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 131.5%;
}
ul {
    padding-left: 20px;
}
#instructions{
    width: 1100px;
    height: 210px;
    margin:  auto;
}

.button{
    background-color: var(--button-standart-color); 
    border-radius: 50px;
    align-items: center;
    margin: -6px auto;
    margin-bottom: 28px;
    height: 55px;
    padding: 5px 40px;
    width: 220px;
    display: flex;
    border-width: var(--button-standart-border-width);
    border-color: var(--button-standart-border-color);
    justify-content:space-evenly;

}
.button-text{
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
}

footer img {
    width: 100%;
    margin: 0 auto;
    margin-bottom: -13px;

} 
/* Buttons */

.buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    height: 40px;
    margin-bottom: 50px;
    align-items: center;

}

.step {
    font-size: 25px;
    color: var(--text-color);
    font-weight: 600;
    background-color: var(--button-standart-color);
    border-width: 30px;
}

.buttons a{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    border-width: var(--button-standart-border-width);
    border-color: var(--button-standart-border-color);
    border-style: solid;
}

#step-1 .buttons a:nth-child(1),
#step-2 .buttons a:nth-child(2),
#step-3 .buttons a:nth-child(3),
#step-4 .buttons a:nth-child(4),
#step-5 .buttons a:nth-child(5),
#step-6 .buttons a:nth-child(6),
#step-7 .buttons a:nth-child(7) {
   background-color: var(--button-active-color);
   border-width: var(--button-standart-border-width);
   border-color: var(--button-active-border-color);
   width: 75px;
   height: 75px;
}

/* Step Customizable*/
.photo {
    margin: auto;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    place-items: center;
    width: 1100px;
    height: 500px;
    position: relative;

}
.step1{
    background-image: url(../project-2/media/hero-photo.jpg);
}
.step2{
    background-image: ;

}
