@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');
@import url("https://use.typekit.net/lqx8fgk.css");
*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --main-color: #155D4C;
    --secondary-color: #E2A700;
    --secondary-color2: #B24949;
    --tertiary-color: #874F1D;
    --tertiary-color-2: #6AB7A8;
    --background-color-1:#E5F9F5;
    --background-color-2: #F2EBDA;
}
.seasonal-wrapper{
    position: relative;
    background-color: var(--background-color-1);
    height: 500px;
    margin-top: 10em;
}
.seasonal-flavors{
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    display: flex;
    margin-top: -2.5em;
    max-width: 1300px;
    width: 80%;
    gap: 1em;
    justify-content:space-around;
}
.seasonal-item{
    background-color:var(--tertiary-color-2);
    border-radius: 2em;
    min-width: 23em;
    max-width: 23em;
    min-height: 29em;
    max-height: 29em;
    padding: 0 4em 4em 4em;
    justify-content: space-evenly;
}
.item-photo{
    min-width: 13em;
    max-width: 13em;

}
.item-photo img{
    min-height: 13em;
    max-height: 13em;
    min-width: 13em;
    max-width: 13em;
    border-radius: 100%;
    margin-top: -6em;
    background-color: #B24949;
}
.coffee-name{
    font-family: 'Magra', sans-serif;
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1em;
    font-weight: 600;
}
.item-description {
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    font-weight: 200;
    line-height: 1.5em;
    text-align: center;
    vertical-align: bottom;
    padding-top: 2em;
    font-style: italic;
}
@media (max-width:1180px){
    .seasonal-flavors{
        flex-direction: column;
        justify-items: center;
        width: 100%;
        
    }
    .seasonal-item{
        margin-bottom: 3.3em;
    }
    .seasonal-wrapper{
        height: 95em;
    }

}
@media (max-width:360px){
    .seasonal-item{
        min-width: 100%;
    }

}
@media (max-width: 400px){
    .coffee-name{
        font-size: 1.7em;
    }

}
.beverage-container{
    text-justify: center;
    max-width: 900px;
}

.all-beverages{
    padding-top: 2em;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
}
ul.all-beverages li{
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    line-height: 0.4em;
    background-color: var(--background-color-2);
    list-style-type: none;
    width: 40%;
    margin: 1em auto;
    padding: 1.5em 2em;
    border-radius: 1em;
}
.all-beverages li span{
   float: right;
   font-family: 'Inter', sans-serif;
   font-style: italic;
}

.tea-container{
    padding: 2em 0;
    background-color: var(--background-color-1);
    margin: 2em auto;
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 1em;
}
ul.tea-container li{
    list-style-type: none;
    width: 33%;
    font-family: 'Inter', sans-serif;
    font-size: 1.2em;
    line-height: 130%;
    padding: .6em;
    text-align: center;
}
@media (max-width:700px) {
    ul.all-beverages li{
        width: 100%;
        margin: 1em 2em;
    }
    ul.tea-container li{
        width: 50%;
    }
    .tea-container{
        margin: 2em 2em;
    }

}