  @import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');
  @import url("https://use.typekit.net/lqx8fgk.css");
*{
    margin: 0 auto;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --main-color: #155D4C;
    --secondary-color: #E2A700;
    --secondary-color2: #B24949;
    --tertiary-color: #874F1D;
    --background-color-1:#E5F9F5;
    --background-color-2: #F2EBDA;
}
body{
   /* min-width: 100%;
    max-width: 8000px;*/
    position: relative;
    background-color: rgb(255, 255, 255);
    z-index: 20;
}
#shop-page{
    background-image: url(./media/background-watermark.svg);
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: cover;
    background-position: 0 1300px;
    height: 2000px;
    width: auto;  
}
/*#hours-page{
    background-image: url(./media/background-watermark.svg);
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: cover;
    background-position: 0 1300px;
    height: 2000px;
    width: auto;
    
}*/
h1{
    font-family: fairwater-script, sans-serif;
    font-size: 5.5em;
    font-weight: bold;
    text-align: center;
    color: var(--tertiary-color);
    padding-top: 1.8em;
    font-style: 3;
    line-height: 90%;
    font-feature-settings: "ss07" on, "salt" on;
}
h2{
    font-family: 'Magra', sans-serif;
    font-size: 2em;
    font-weight: 200;
    text-align: center;
    max-width: 700px;
    padding: 2em 0 .6em .6em;
}
h3{
    font-family: 'Magra', sans-serif;
    font-size: 2.3em;
    text-align: center;
    padding-top: 2em;

}
h5{
    font-family: 'Magra', sans-serif;
    font-size: 1.6em;
    font-weight: 100;
    padding-top: 3em;
    text-align: center;
    font-style: italic;

}
h4{
    font-family: 'Magra', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    padding-top: 3em;
    text-align: center;
}
h6{
    font-family: 'Magra', sans-serif;
    font-size: 1.8em;
    font-weight: 800;
    padding-top: 3em;
    text-align: center;
    padding-top: 1em;
    text-transform: uppercase;

}

a:hover{
    color: var(--secondary-color2);
}
a:visited{
    color: none;
}



/* Hero Video*/
#hero{
    min-height: 500px;
    max-height: 500px;
    width: auto;
}
video#bgvideo {
    position: absolute;
    top: 30vh;
    left: 50%;
    min-width: 100%;
    min-height: 28em;
    max-height: 80em;
    width: 100%;
    height: 28em;
    z-index: -100;
   -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(media/hero-poster-placeholder.jpg) no-repeat;
    background-size: cover;}

video source{
    background: no-repeat;
}

/* Nav Bar Home*/
.secondary-logo{
    display: none;

}
nav{
    position: sticky;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-color: var(--main-color);
    height: 4em;
    font-family: 'Magra', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
    padding: 0 3em;
    z-index: 111;

}
nav li{
    list-style-type: none;
    padding: 1.5em 0;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav li a{
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.nav-links{
    max-width: 1500px;
    padding: 0;

}
.main-logo-home {
    justify-self: center;
    position:relative;
    min-width: 9em;
    max-width: 9em;
    height: 9em;
    margin-top: -1.5em;
}
.logo-bg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 11.2em;
    max-width: 11.2em;
    height: 100%;
   
}
.logotype{
    position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   padding-top: .6em;
    min-width: 7em;
    max-width: 7em;
    height: 100%;


}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;}
.sticky + .content {
  padding-top: 60px;
}
.sticky + .logotype{
    padding-top: 3em;
}
 
.nav-btn {
    display: none;}

nav > #nav-check {
        display: none;
}

@media (max-width:800px) {
    nav{
        margin: 0 auto;
    }
    
    .main-logo-home{
        display: none;
    }
    .secondary-logo{
        display: grid;
        max-height: 3.3em;
        min-height: 3em;
        margin: 0 auto;
        max-width: auto;
        transition: all 0.3s ease-in;
        justify-self: center;
       padding-top: .8em;
    
    }
    nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    nav > .nav-btn > label {
        display: inline-block;
        margin-top: 1.3em;
        margin-right: 1.3em;
        margin-left: 1.3em;

    }
   /* nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(28, 28, 28, 0.151);

    }*/
    nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #ffffff;
    }
    nav > .nav-btn:hover {
        padding-bottom: .7em;
        border-radius: 50%;
        background-color: #1f1f1f47;
    }
    nav > .nav-links {
        display: block;
        min-width: 100%;
        background-color: var(--main-color);
        height: 0px;
        text-align: center;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh);
        overflow-y: none; 
        
    }
    

    


}

#home-page nav ul.nav-links li:nth-child(1) a,
#menu-page nav ul.nav-links li:nth-child(2) a,
#hours-page nav ul.nav-links li:nth-child(3) a,
#events-page nav ul.nav-links li:nth-child(5) a,
#about-page nav ul.nav-links li:nth-child(6) a, 
#shop-page nav ul.nav-links li:nth-child(7) a  {
   color: var(--secondary-color);

 }



#body-wrapper{
    min-height: 2300px;
    background-color: white;
}


footer{
    margin-top: 9em;
    background-color: var(--secondary-color2);
    min-height: 6em;
    width: 100%;
    z-index: 30;
    padding: 4em;
    align-content: center;
}
.footer-text{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    
}
.footer-text div{
    display: flex;
    float: right;
    margin: 0;
    width: fit-content;
    justify-content:space-between;
}
footer p{
    margin: 0;
    padding-left: 1em;
    font-family: 'Magra', sans-serif;
    font-weight: 100;
    font-size: 1.3em;
    color: white;
    text-align: left;

}

@media (max-width: 600px) {
    h1{
    
        font-size: 4em;
    }
    h2{
        font-size: 1.4em;
        margin: 0 1em;
    }
    h3{
        font-size: 1.9em;
    }
    footer p{
        font-size: .9em;
    }
    footer{
        padding: 2em 1em;
    }
    


}



@media (min-aspect-ratio: 16/9){
    video#bgvideo{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    video#bgvideo{
        width: auto;
        height: 100%;
    }
}
@media (max-width: 1700px){
    video#bgvideo {
        min-width: fit-content;
        max-width: fit-content;
        overflow-x: hidden;
    }
    #hero{
        min-width: 100%;
        max-width: 100%;
       overflow-x: hidden;
    }
    #home-page{
        overflow-x: hidden;
    }
    
}



/* Home Content*/
.home-event-wrap{
    display: flex;
    margin: 10em auto;
    max-width: 1700px;
    height: 480px;
    min-height: 480px;
    max-height: 600px;
}
.home-event-wrap2{
    display: flex;
    margin: -10em auto;
    max-width: 1700px;
    max-height: 480px;
}
.home-text{
    width: 50%;
    padding: 3em;
    background-color: var(--secondary-color2);
}
.home-text2{
    width: 50%;
    padding: 3em;
    background-color: var(--main-color);
}
.home-text2 a{
    color: white;
    line-height: 300%;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    justify-self: baseline;

}


.box-title{
    
    font-family: 'Magra', sans-serif;
    font-size: 2.2em;
    font-weight: 600;
    text-transform: uppercase;
    color: white;

}
.event-photo{
    width: 50%;
}
.event-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover
}
.box-description{
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    line-height: 133%;
    letter-spacing: -0.04em;
    font-weight: 100;
    padding-top: 1em;
    padding-right: 5em;
    color: white;
}
.home-text a{
    color: white;
    line-height: 300%;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    justify-self: baseline;

}





@media (max-width: 1140px) {
    .home-event-wrap{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 480px;
        max-height: 480px;

    }
    .home-event-wrap2{
        display: flex;
        margin-top: 60em;
        flex-direction: column-reverse;
        width: 100%;
        height: 480px;
        max-height: 480px;
    }
    .home-text{
        width: 100%;
        min-height: 480px;
        max-height: 480px;
    }
    .home-text2{
        min-height: 480px;
        max-height: 580px;
        width: 100%;

    }
    .event-photo{
        width: 100%;
        min-height: 480px;
        max-height: 480px;
    }
    
  }
@media (max-width:600px){
    .box-title{
    
        font-family: 'Magra', sans-serif;
        font-size: 1.7em;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
    
    }
    .box-description{
        font-size: 1.6em;
    }
    .home-text2 a{
    
        font-size: 1.2em;
    }
    .home-text a{
        font-size: 1.2em;
    }
}
a.error-button{
    display:block;
    font-family: 'Inter', sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 2em auto;
    padding: .7em;
    width: 10em;
    background-color: var(--secondary-color);

}

